
node_modules/


.env
.env.local
.env.development
.env.production
.env.test
.env/frontend
.env/backend


npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


.DS_Store
.vscode/
.idea/


dist/
build/
coverage/
